<div class="co2-page-container">
  <header class="co2-header">
    <div class="co2-logo-container">
      <img src="https://i.ibb.co/vPBkLMz/6043937541993907783-1-1.png" alt="CO2 Logo" class="co2-logo" />
    </div>
  </header>

  <app-pdf-uploader></app-pdf-uploader>

  <footer class="co2-footer">
    <div class="co2-names">
      <span>Ilja Fonarevs</span> | 
      <span>Artemijs Radionovs</span> | 
      <span>Algerts Kligulis</span> | 
      <span>Ailsa Mamikova</span> | 
      <span>Alina Eksta</span> | 
      <span>Daniels Vulfs</span>
    </div>
    <div class="co2-group-info">
      3.grupa RTU
    </div>
  </footer>
</div>
